#!/bin/bash
# sed example for bash script

echo "This is a test" | sed 's/test/big test/'
# This is a big test

cat << EOF > data1.txt
The quick brown fox jumps over the lazy dog.
The quick brown fox jumps over the lazy dog.
The quick brown fox jumps over the lazy dog.
The quick brown fox jumps over the lazy dog.
EOF

sed 's/dog/cat/' data1.txt
# The quick brown fox jumps over the lazy cat.
# The quick brown fox jumps over the lazy cat.
# The quick brown fox jumps over the lazy cat.
# The quick brown fox jumps over the lazy cat.

sed -e 's/brown/green/; s/dog/cat/' data1.txt
# The quick green fox jumps over the lazy cat.
# The quick green fox jumps over the lazy cat.
# The quick green fox jumps over the lazy cat.
# The quick green fox jumps over the lazy cat.

sed -e '
s/brown/green/
s/fox/elephant/
s/dog/cat/' data1.txt
# The quick green elephant jumps over the lazy cat.
# The quick green elephant jumps over the lazy cat.
# The quick green elephant jumps over the lazy cat.
# The quick green elephant jumps over the lazy cat.

cat << EOF > script1.sed
s/brown/green/
s/fox/elephant/
s/dog/cat/
EOF

sed -f script1.sed data1.txt
# The quick green elephant jumps over the lazy cat.
# The quick green elephant jumps over the lazy cat.
# The quick green elephant jumps over the lazy cat.
# The quick green elephant jumps over the lazy cat.

