#!/bin/bash
# changing lines with sed

sed '3c\
This is a changed line of text.' data6.txt
# This is line number 1.
# This is line number 2.
# This is a changed line of text.
# This is line number 4.

sed '/number 3/c\
This is a changed line of text.' data6.txt
# This is line number 1.
# This is line number 2.
# This is a changed line of text.
# This is line number 4.

sed '/number 1/c\
This is a changed line of text.' data8.txt
# This is a changed line of text.
# This is line number 2.
# This is line number 3.
# This is line number 4.
# This is a changed line of text.
# This is yet another line.
# This is the last line in the file.

# Instead of replacing these lines separately, the sed editor uses a single test line to replace both line
# Be careful when using address range
sed '2,3c\
This is a new line of text.' data6.txt
# This is line number 1.
# This is a new line of text.
# This is line number 4.
